*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Navigation */
.navigation-header {
  background-color: rgb(73, 51, 153);
  padding: 0 15px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-items {
  padding-top: 10px;
  position: absolute;
  z-index: 20;
  top: 30px;
  right: 0;
  padding-right: 30px;
  display: flex;
  list-style: none;
  /*gap: 10px; */
}

.navigation-items li ul {
  list-style: none;
  /*font-weight: 300;*/
  display: none;
}

.navigation-items a {
  color: ghostwhite;
  text-decoration: none;
  /*font-weight: 500; */
  display: block;
  padding: 8px;
  /*font-size: 16px; */
  transition: 0.4s ease-in-out;
}
.navigation-items a:hover {
  color: white;
  background-color: #6c63ff;
  border-radius: 6px;
  z-index: 70;
}

.hamburger {
  display: none;
  font-size: 20px;
  font-weight: 800;
  color: white;
}

/* Submenu */
.submenu {
  display: none;
  position: relative;
  top: 4px;
  right: 0;
  background: rgb(73, 51, 153);
  /* min-width: 220px; */
  /* border-radius: 8px; */
  overflow: hidden;
  z-index: 9999;
}

.submenu li a {
  padding: 12px;
}

.dropdownsubmenu.active .submenu {
  display: block;
  z-index: 9999;
  /* top: 200px; */
}

/* Hamburger */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .hamburger #closeHam {
    display: none;
  }
  .navigation-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    /*top: 58px;*/
    border-radius: 8px;
    top: 82px;
    background-color: rgb(73, 51, 153);
    /*background-color: rgb(166, 6, 20);*/

    width: 100%;
    height: calc(100vh - 58px);
    padding-top: 60px;
    gap: 10vh;
  }
}

.menu {
  display: none;
}

.menu.active {
  display: block;
}
