/*

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation-header {
  background: #493399;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}


nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.navigation-items {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
}

.navigation-items a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  cursor: pointer;
}

.navigation-items a:hover {
  background: #6c63ff;
  border-radius: 6px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

#closeHam {
  display: none;
}

*/

/* Dropdown */
.dropdownsubmenu {
  position: relative;
}

.submenu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  list-style: none;
  background: #493399;

  min-width: 220px;
}

.dropdownsubmenu:hover > .submenu {
  display: block;
}

/*
.navigation-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
*/

/* ---------- Mobile ---------- */
/*
@media (max-width: 768px) {
  .navigation-items {
    display: none;
    flex-direction: column;
  }

  .navigation-items.active {
    display: flex;
  }
}
*/

/*
@media (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 1000;
  }

  .navigation-items {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background: #493399;
     flex-direction: column; 
    align-items: center;
    gap: 20px;
    padding: 20px;
    display: none;
  }
  
  .navigation-items.active {
    display: flex;
  }
}

*/
/*
@media screen and (max-width: 768px) {
  .navigation-items.active {
    display: flex;
  }
}
*/
